#aliases
export LSOPT="--group-directories-first --color=auto"
alias l="ls $LSOPT -lh"
alias l.="ls $LSOPT -lhd .*"
alias ll="ls $LSOPT -lha"
alias ls="ls $LSOPT"
alias h='history'
alias j='journalctl'
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'
alias df='df -h'
alias free='free -h'
alias vi='nvim'
alias tar='tar -xvzf'
alias sys='sudo SYSTEMD_EDITOR=/bin/vi /usr/bin/systemctl'
