#aliases
alias ls='ls --group-directories-first --color=auto'
alias l='ls -lh'
alias l.='ls -lhd .*'
alias la='ls -lhA'
alias h='history'
alias j='journalctl'
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -i'
alias df='df -h'
alias free='df -h; free -h'
alias vi='vim'
alias untar='tar -xzf'
alias tar='czf'
alias sys='sudo SYSTEMD_EDITOR=/bin/vim /usr/bin/systemctl'
